.navbar-brand{
  font-size: xx-large;
}
.nav-item-1{
  font-weight: 600;
}
.nav-item{
  font-size: 20px;
  font-weight: 500;
}
<<<<<<< HEAD
a{
  text-decoration: none;
=======
.background{
  background-image: url("/src/images/homepagebg.png");
  height: 600px;
  background-size: cover;
  background-position: center;
>>>>>>> 2ff57370d86c122d3c8f4ae2a3732dce82acbba6
}