.navbar-brand{
  font-size: xx-large;
}
.nav-item-1{
  font-weight: 600;
}
.nav-item{
  font-size: 20px;
  font-weight: 500;
}
.background{
  background-image: url("/src/images/homepagebg.png");
  height: 600px;
  background-size: cover;
  background-position: center;
}